/* line 11, ../sass/app.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 26, ../sass/app.scss */
.col-s-1, .col-m-1, .col-l-1, .col-s-2, .col-m-2, .col-l-2, .col-s-3, .col-m-3, .col-l-3, .col-s-4, .col-m-4, .col-l-4, .col-s-5, .col-m-5, .col-l-5, .col-s-6, .col-m-6, .col-l-6, .col-s-7, .col-m-7, .col-l-7, .col-s-8, .col-m-8, .col-l-8, .col-s-9, .col-m-9, .col-l-9, .col-s-10, .col-m-10, .col-l-10, .col-s-11, .col-m-11, .col-l-11, .col-s-12, .col-m-12, .col-l-12 {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 0 10px;
}

/* line 32, ../sass/app.scss */
.row {
  margin: 0 -10px;
  overflow: hidden;
  *zoom: 1;
}

/* line 39, ../sass/app.scss */
.m-show {
  display: none;
}

/* line 40, ../sass/app.scss */
.l-show {
  display: none;
}

/* line 19, ../sass/app.scss */
.col-s-center {
  margin: 0 auto;
  float: none;
}

/* line 20, ../sass/app.scss */
.col-s-push-0 {
  left: 0%;
}

/* line 21, ../sass/app.scss */
.col-s-offset-0 {
  margin-left: 0%;
}

/* line 22, ../sass/app.scss */
.col-s-pull-0 {
  left: 0%;
}

/* line 17, ../sass/app.scss */
.col-s-1 {
  width: 8.33333%;
}

/* line 19, ../sass/app.scss */
.col-s-center {
  margin: 0 auto;
  float: none;
}

/* line 20, ../sass/app.scss */
.col-s-push-1 {
  left: 8.33333%;
}

/* line 21, ../sass/app.scss */
.col-s-offset-1 {
  margin-left: 8.33333%;
}

/* line 22, ../sass/app.scss */
.col-s-pull-1 {
  left: 8.33333%;
}

/* line 17, ../sass/app.scss */
.col-s-2 {
  width: 16.66667%;
}

/* line 19, ../sass/app.scss */
.col-s-center {
  margin: 0 auto;
  float: none;
}

/* line 20, ../sass/app.scss */
.col-s-push-2 {
  left: 16.66667%;
}

/* line 21, ../sass/app.scss */
.col-s-offset-2 {
  margin-left: 16.66667%;
}

/* line 22, ../sass/app.scss */
.col-s-pull-2 {
  left: 16.66667%;
}

/* line 17, ../sass/app.scss */
.col-s-3 {
  width: 25%;
}

/* line 19, ../sass/app.scss */
.col-s-center {
  margin: 0 auto;
  float: none;
}

/* line 20, ../sass/app.scss */
.col-s-push-3 {
  left: 25%;
}

/* line 21, ../sass/app.scss */
.col-s-offset-3 {
  margin-left: 25%;
}

/* line 22, ../sass/app.scss */
.col-s-pull-3 {
  left: 25%;
}

/* line 17, ../sass/app.scss */
.col-s-4 {
  width: 33.33333%;
}

/* line 19, ../sass/app.scss */
.col-s-center {
  margin: 0 auto;
  float: none;
}

/* line 20, ../sass/app.scss */
.col-s-push-4 {
  left: 33.33333%;
}

/* line 21, ../sass/app.scss */
.col-s-offset-4 {
  margin-left: 33.33333%;
}

/* line 22, ../sass/app.scss */
.col-s-pull-4 {
  left: 33.33333%;
}

/* line 17, ../sass/app.scss */
.col-s-5 {
  width: 41.66667%;
}

/* line 19, ../sass/app.scss */
.col-s-center {
  margin: 0 auto;
  float: none;
}

/* line 20, ../sass/app.scss */
.col-s-push-5 {
  left: 41.66667%;
}

/* line 21, ../sass/app.scss */
.col-s-offset-5 {
  margin-left: 41.66667%;
}

/* line 22, ../sass/app.scss */
.col-s-pull-5 {
  left: 41.66667%;
}

/* line 17, ../sass/app.scss */
.col-s-6 {
  width: 50%;
}

/* line 19, ../sass/app.scss */
.col-s-center {
  margin: 0 auto;
  float: none;
}

/* line 20, ../sass/app.scss */
.col-s-push-6 {
  left: 50%;
}

/* line 21, ../sass/app.scss */
.col-s-offset-6 {
  margin-left: 50%;
}

/* line 22, ../sass/app.scss */
.col-s-pull-6 {
  left: 50%;
}

/* line 17, ../sass/app.scss */
.col-s-7 {
  width: 58.33333%;
}

/* line 19, ../sass/app.scss */
.col-s-center {
  margin: 0 auto;
  float: none;
}

/* line 20, ../sass/app.scss */
.col-s-push-7 {
  left: 58.33333%;
}

/* line 21, ../sass/app.scss */
.col-s-offset-7 {
  margin-left: 58.33333%;
}

/* line 22, ../sass/app.scss */
.col-s-pull-7 {
  left: 58.33333%;
}

/* line 17, ../sass/app.scss */
.col-s-8 {
  width: 66.66667%;
}

/* line 19, ../sass/app.scss */
.col-s-center {
  margin: 0 auto;
  float: none;
}

/* line 20, ../sass/app.scss */
.col-s-push-8 {
  left: 66.66667%;
}

/* line 21, ../sass/app.scss */
.col-s-offset-8 {
  margin-left: 66.66667%;
}

/* line 22, ../sass/app.scss */
.col-s-pull-8 {
  left: 66.66667%;
}

/* line 17, ../sass/app.scss */
.col-s-9 {
  width: 75%;
}

/* line 19, ../sass/app.scss */
.col-s-center {
  margin: 0 auto;
  float: none;
}

/* line 20, ../sass/app.scss */
.col-s-push-9 {
  left: 75%;
}

/* line 21, ../sass/app.scss */
.col-s-offset-9 {
  margin-left: 75%;
}

/* line 22, ../sass/app.scss */
.col-s-pull-9 {
  left: 75%;
}

/* line 17, ../sass/app.scss */
.col-s-10 {
  width: 83.33333%;
}

/* line 19, ../sass/app.scss */
.col-s-center {
  margin: 0 auto;
  float: none;
}

/* line 20, ../sass/app.scss */
.col-s-push-10 {
  left: 83.33333%;
}

/* line 21, ../sass/app.scss */
.col-s-offset-10 {
  margin-left: 83.33333%;
}

/* line 22, ../sass/app.scss */
.col-s-pull-10 {
  left: 83.33333%;
}

/* line 17, ../sass/app.scss */
.col-s-11 {
  width: 91.66667%;
}

/* line 19, ../sass/app.scss */
.col-s-center {
  margin: 0 auto;
  float: none;
}

/* line 20, ../sass/app.scss */
.col-s-push-11 {
  left: 91.66667%;
}

/* line 21, ../sass/app.scss */
.col-s-offset-11 {
  margin-left: 91.66667%;
}

/* line 22, ../sass/app.scss */
.col-s-pull-11 {
  left: 91.66667%;
}

/* line 17, ../sass/app.scss */
.col-s-12 {
  width: 100%;
}

/* line 19, ../sass/app.scss */
.col-s-center {
  margin: 0 auto;
  float: none;
}

/* line 20, ../sass/app.scss */
.col-s-push-12 {
  left: 100%;
}

/* line 21, ../sass/app.scss */
.col-s-offset-12 {
  margin-left: 100%;
}

/* line 22, ../sass/app.scss */
.col-s-pull-12 {
  left: 100%;
}

@media only screen and (min-width: 640px) {
  /* line 19, ../sass/app.scss */
  .col-m-center {
    margin: 0 auto;
    float: none;
  }

  /* line 20, ../sass/app.scss */
  .col-m-push-0 {
    left: 0%;
  }

  /* line 21, ../sass/app.scss */
  .col-m-offset-0 {
    margin-left: 0%;
  }

  /* line 22, ../sass/app.scss */
  .col-m-pull-0 {
    left: 0%;
  }

  /* line 17, ../sass/app.scss */
  .col-m-1 {
    width: 8.33333%;
  }

  /* line 19, ../sass/app.scss */
  .col-m-center {
    margin: 0 auto;
    float: none;
  }

  /* line 20, ../sass/app.scss */
  .col-m-push-1 {
    left: 8.33333%;
  }

  /* line 21, ../sass/app.scss */
  .col-m-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 22, ../sass/app.scss */
  .col-m-pull-1 {
    left: 8.33333%;
  }

  /* line 17, ../sass/app.scss */
  .col-m-2 {
    width: 16.66667%;
  }

  /* line 19, ../sass/app.scss */
  .col-m-center {
    margin: 0 auto;
    float: none;
  }

  /* line 20, ../sass/app.scss */
  .col-m-push-2 {
    left: 16.66667%;
  }

  /* line 21, ../sass/app.scss */
  .col-m-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 22, ../sass/app.scss */
  .col-m-pull-2 {
    left: 16.66667%;
  }

  /* line 17, ../sass/app.scss */
  .col-m-3 {
    width: 25%;
  }

  /* line 19, ../sass/app.scss */
  .col-m-center {
    margin: 0 auto;
    float: none;
  }

  /* line 20, ../sass/app.scss */
  .col-m-push-3 {
    left: 25%;
  }

  /* line 21, ../sass/app.scss */
  .col-m-offset-3 {
    margin-left: 25%;
  }

  /* line 22, ../sass/app.scss */
  .col-m-pull-3 {
    left: 25%;
  }

  /* line 17, ../sass/app.scss */
  .col-m-4 {
    width: 33.33333%;
  }

  /* line 19, ../sass/app.scss */
  .col-m-center {
    margin: 0 auto;
    float: none;
  }

  /* line 20, ../sass/app.scss */
  .col-m-push-4 {
    left: 33.33333%;
  }

  /* line 21, ../sass/app.scss */
  .col-m-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 22, ../sass/app.scss */
  .col-m-pull-4 {
    left: 33.33333%;
  }

  /* line 17, ../sass/app.scss */
  .col-m-5 {
    width: 41.66667%;
  }

  /* line 19, ../sass/app.scss */
  .col-m-center {
    margin: 0 auto;
    float: none;
  }

  /* line 20, ../sass/app.scss */
  .col-m-push-5 {
    left: 41.66667%;
  }

  /* line 21, ../sass/app.scss */
  .col-m-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 22, ../sass/app.scss */
  .col-m-pull-5 {
    left: 41.66667%;
  }

  /* line 17, ../sass/app.scss */
  .col-m-6 {
    width: 50%;
  }

  /* line 19, ../sass/app.scss */
  .col-m-center {
    margin: 0 auto;
    float: none;
  }

  /* line 20, ../sass/app.scss */
  .col-m-push-6 {
    left: 50%;
  }

  /* line 21, ../sass/app.scss */
  .col-m-offset-6 {
    margin-left: 50%;
  }

  /* line 22, ../sass/app.scss */
  .col-m-pull-6 {
    left: 50%;
  }

  /* line 17, ../sass/app.scss */
  .col-m-7 {
    width: 58.33333%;
  }

  /* line 19, ../sass/app.scss */
  .col-m-center {
    margin: 0 auto;
    float: none;
  }

  /* line 20, ../sass/app.scss */
  .col-m-push-7 {
    left: 58.33333%;
  }

  /* line 21, ../sass/app.scss */
  .col-m-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 22, ../sass/app.scss */
  .col-m-pull-7 {
    left: 58.33333%;
  }

  /* line 17, ../sass/app.scss */
  .col-m-8 {
    width: 66.66667%;
  }

  /* line 19, ../sass/app.scss */
  .col-m-center {
    margin: 0 auto;
    float: none;
  }

  /* line 20, ../sass/app.scss */
  .col-m-push-8 {
    left: 66.66667%;
  }

  /* line 21, ../sass/app.scss */
  .col-m-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 22, ../sass/app.scss */
  .col-m-pull-8 {
    left: 66.66667%;
  }

  /* line 17, ../sass/app.scss */
  .col-m-9 {
    width: 75%;
  }

  /* line 19, ../sass/app.scss */
  .col-m-center {
    margin: 0 auto;
    float: none;
  }

  /* line 20, ../sass/app.scss */
  .col-m-push-9 {
    left: 75%;
  }

  /* line 21, ../sass/app.scss */
  .col-m-offset-9 {
    margin-left: 75%;
  }

  /* line 22, ../sass/app.scss */
  .col-m-pull-9 {
    left: 75%;
  }

  /* line 17, ../sass/app.scss */
  .col-m-10 {
    width: 83.33333%;
  }

  /* line 19, ../sass/app.scss */
  .col-m-center {
    margin: 0 auto;
    float: none;
  }

  /* line 20, ../sass/app.scss */
  .col-m-push-10 {
    left: 83.33333%;
  }

  /* line 21, ../sass/app.scss */
  .col-m-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 22, ../sass/app.scss */
  .col-m-pull-10 {
    left: 83.33333%;
  }

  /* line 17, ../sass/app.scss */
  .col-m-11 {
    width: 91.66667%;
  }

  /* line 19, ../sass/app.scss */
  .col-m-center {
    margin: 0 auto;
    float: none;
  }

  /* line 20, ../sass/app.scss */
  .col-m-push-11 {
    left: 91.66667%;
  }

  /* line 21, ../sass/app.scss */
  .col-m-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 22, ../sass/app.scss */
  .col-m-pull-11 {
    left: 91.66667%;
  }

  /* line 17, ../sass/app.scss */
  .col-m-12 {
    width: 100%;
  }

  /* line 19, ../sass/app.scss */
  .col-m-center {
    margin: 0 auto;
    float: none;
  }

  /* line 20, ../sass/app.scss */
  .col-m-push-12 {
    left: 100%;
  }

  /* line 21, ../sass/app.scss */
  .col-m-offset-12 {
    margin-left: 100%;
  }

  /* line 22, ../sass/app.scss */
  .col-m-pull-12 {
    left: 100%;
  }

  /* line 44, ../sass/app.scss */
  .m-hide {
    display: none;
  }

  /* line 45, ../sass/app.scss */
  .m-show {
    display: block;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 19, ../sass/app.scss */
  .col-l-center {
    margin: 0 auto;
    float: none;
  }

  /* line 20, ../sass/app.scss */
  .col-l-push-0 {
    left: 0%;
  }

  /* line 21, ../sass/app.scss */
  .col-l-offset-0 {
    margin-left: 0%;
  }

  /* line 22, ../sass/app.scss */
  .col-l-pull-0 {
    left: 0%;
  }

  /* line 17, ../sass/app.scss */
  .col-l-1 {
    width: 8.33333%;
  }

  /* line 19, ../sass/app.scss */
  .col-l-center {
    margin: 0 auto;
    float: none;
  }

  /* line 20, ../sass/app.scss */
  .col-l-push-1 {
    left: 8.33333%;
  }

  /* line 21, ../sass/app.scss */
  .col-l-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 22, ../sass/app.scss */
  .col-l-pull-1 {
    left: 8.33333%;
  }

  /* line 17, ../sass/app.scss */
  .col-l-2 {
    width: 16.66667%;
  }

  /* line 19, ../sass/app.scss */
  .col-l-center {
    margin: 0 auto;
    float: none;
  }

  /* line 20, ../sass/app.scss */
  .col-l-push-2 {
    left: 16.66667%;
  }

  /* line 21, ../sass/app.scss */
  .col-l-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 22, ../sass/app.scss */
  .col-l-pull-2 {
    left: 16.66667%;
  }

  /* line 17, ../sass/app.scss */
  .col-l-3 {
    width: 25%;
  }

  /* line 19, ../sass/app.scss */
  .col-l-center {
    margin: 0 auto;
    float: none;
  }

  /* line 20, ../sass/app.scss */
  .col-l-push-3 {
    left: 25%;
  }

  /* line 21, ../sass/app.scss */
  .col-l-offset-3 {
    margin-left: 25%;
  }

  /* line 22, ../sass/app.scss */
  .col-l-pull-3 {
    left: 25%;
  }

  /* line 17, ../sass/app.scss */
  .col-l-4 {
    width: 33.33333%;
  }

  /* line 19, ../sass/app.scss */
  .col-l-center {
    margin: 0 auto;
    float: none;
  }

  /* line 20, ../sass/app.scss */
  .col-l-push-4 {
    left: 33.33333%;
  }

  /* line 21, ../sass/app.scss */
  .col-l-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 22, ../sass/app.scss */
  .col-l-pull-4 {
    left: 33.33333%;
  }

  /* line 17, ../sass/app.scss */
  .col-l-5 {
    width: 41.66667%;
  }

  /* line 19, ../sass/app.scss */
  .col-l-center {
    margin: 0 auto;
    float: none;
  }

  /* line 20, ../sass/app.scss */
  .col-l-push-5 {
    left: 41.66667%;
  }

  /* line 21, ../sass/app.scss */
  .col-l-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 22, ../sass/app.scss */
  .col-l-pull-5 {
    left: 41.66667%;
  }

  /* line 17, ../sass/app.scss */
  .col-l-6 {
    width: 50%;
  }

  /* line 19, ../sass/app.scss */
  .col-l-center {
    margin: 0 auto;
    float: none;
  }

  /* line 20, ../sass/app.scss */
  .col-l-push-6 {
    left: 50%;
  }

  /* line 21, ../sass/app.scss */
  .col-l-offset-6 {
    margin-left: 50%;
  }

  /* line 22, ../sass/app.scss */
  .col-l-pull-6 {
    left: 50%;
  }

  /* line 17, ../sass/app.scss */
  .col-l-7 {
    width: 58.33333%;
  }

  /* line 19, ../sass/app.scss */
  .col-l-center {
    margin: 0 auto;
    float: none;
  }

  /* line 20, ../sass/app.scss */
  .col-l-push-7 {
    left: 58.33333%;
  }

  /* line 21, ../sass/app.scss */
  .col-l-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 22, ../sass/app.scss */
  .col-l-pull-7 {
    left: 58.33333%;
  }

  /* line 17, ../sass/app.scss */
  .col-l-8 {
    width: 66.66667%;
  }

  /* line 19, ../sass/app.scss */
  .col-l-center {
    margin: 0 auto;
    float: none;
  }

  /* line 20, ../sass/app.scss */
  .col-l-push-8 {
    left: 66.66667%;
  }

  /* line 21, ../sass/app.scss */
  .col-l-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 22, ../sass/app.scss */
  .col-l-pull-8 {
    left: 66.66667%;
  }

  /* line 17, ../sass/app.scss */
  .col-l-9 {
    width: 75%;
  }

  /* line 19, ../sass/app.scss */
  .col-l-center {
    margin: 0 auto;
    float: none;
  }

  /* line 20, ../sass/app.scss */
  .col-l-push-9 {
    left: 75%;
  }

  /* line 21, ../sass/app.scss */
  .col-l-offset-9 {
    margin-left: 75%;
  }

  /* line 22, ../sass/app.scss */
  .col-l-pull-9 {
    left: 75%;
  }

  /* line 17, ../sass/app.scss */
  .col-l-10 {
    width: 83.33333%;
  }

  /* line 19, ../sass/app.scss */
  .col-l-center {
    margin: 0 auto;
    float: none;
  }

  /* line 20, ../sass/app.scss */
  .col-l-push-10 {
    left: 83.33333%;
  }

  /* line 21, ../sass/app.scss */
  .col-l-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 22, ../sass/app.scss */
  .col-l-pull-10 {
    left: 83.33333%;
  }

  /* line 17, ../sass/app.scss */
  .col-l-11 {
    width: 91.66667%;
  }

  /* line 19, ../sass/app.scss */
  .col-l-center {
    margin: 0 auto;
    float: none;
  }

  /* line 20, ../sass/app.scss */
  .col-l-push-11 {
    left: 91.66667%;
  }

  /* line 21, ../sass/app.scss */
  .col-l-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 22, ../sass/app.scss */
  .col-l-pull-11 {
    left: 91.66667%;
  }

  /* line 17, ../sass/app.scss */
  .col-l-12 {
    width: 100%;
  }

  /* line 19, ../sass/app.scss */
  .col-l-center {
    margin: 0 auto;
    float: none;
  }

  /* line 20, ../sass/app.scss */
  .col-l-push-12 {
    left: 100%;
  }

  /* line 21, ../sass/app.scss */
  .col-l-offset-12 {
    margin-left: 100%;
  }

  /* line 22, ../sass/app.scss */
  .col-l-pull-12 {
    left: 100%;
  }

  /* line 49, ../sass/app.scss */
  .l-hide {
    display: none;
  }

  /* line 50, ../sass/app.scss */
  .l-show {
    display: block;
  }
}
/* line 52, ../sass/app.scss */
.load {
  position: absolute;
  z-index: 100;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 58, ../sass/app.scss */
.loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

@-webkit-keyframes spin {
  /* line 66, ../sass/app.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 70, ../sass/app.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  /* line 75, ../sass/app.scss */
  from {
    -moz-transform: rotate(0deg);
  }

  /* line 79, ../sass/app.scss */
  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes spin {
  /* line 84, ../sass/app.scss */
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 92, ../sass/app.scss */
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spinreverse {
  /* line 101, ../sass/app.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 105, ../sass/app.scss */
  to {
    -webkit-transform: rotate(-360deg);
  }
}

@-moz-keyframes spinreverse {
  /* line 110, ../sass/app.scss */
  from {
    -moz-transform: rotate(0deg);
  }

  /* line 114, ../sass/app.scss */
  to {
    -moz-transform: rotate(-360deg);
  }
}

@keyframes spinreverse {
  /* line 119, ../sass/app.scss */
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 127, ../sass/app.scss */
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

/* line 135, ../sass/app.scss */
.loader-double {
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #FFF;
  border-bottom-color: #FFF;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

/* line 144, ../sass/app.scss */
.loader-double:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #FFF;
  border-bottom-color: #FFF;
  opacity: 0.6;
  -webkit-animation: spinreverse 2s linear infinite;
  -moz-animation: spinreverse 2s linear infinite;
  animation: spinreverse 2s linear infinite;
}

/* line 160, ../sass/app.scss */
a {
  color: #71b577;
  text-decoration: none;
}

/* line 163, ../sass/app.scss */
h1, h2, h3, h4, h5, h6 {
  color: #71b577;
  text-align: center;
}

/* line 167, ../sass/app.scss */
.btn-grey {
  color: #fff;
  background-color: #b7bfbf;
  border-color: #9ca7a7;
}
/* line 171, ../sass/app.scss */
.btn-grey:hover {
  background-color: #9ca7a7;
  border-color: #818f8f;
}

/* line 175, ../sass/app.scss */
.btn-default {
  background-color: #54c4ab;
  border-color: #3baa91;
}
/* line 178, ../sass/app.scss */
.btn-default:hover {
  background-color: #3baa91;
  border-color: #2e8471;
}

/* line 182, ../sass/app.scss */
button, input[type="submit"], .btn {
  display: inline-block;
  width: auto;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px !important;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
}

/* line 202, ../sass/app.scss */
input, textarea {
  width: 100%;
  padding: 5px 10px !important;
  border-color: transparent;
  border-radius: 2px;
  font-size: medium;
  outline-color: #a0ded0;
  outline-width: 3px;
}

/* line 210, ../sass/app.scss */
label {
  display: inline-block;
  margin: 5px 0;
  font-weight: 700;
}

/* line 214, ../sass/app.scss */
#login {
  position: absolute;
  top: 30%;
  left: 5%;
  right: 5%;
  width: 90%;
  margin: 0 auto;
}

/* line 219, ../sass/app.scss */
.author {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

/* line 225, ../sass/app.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 229, ../sass/app.scss */
body {
  font-family: 'Ubuntu',sans-serif;
  background-color: #b9ffda;
}

/* line 233, ../sass/app.scss */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  line-height: 60px;
  background-color: #54c4ab;
  color: white;
  text-align: center;
  font-size: x-large;
  text-transform: uppercase;
}

/* line 244, ../sass/app.scss */
.nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  line-height: 60px;
  background-color: #b7bfbf;
  text-align: center;
  overflow: hidden;
  *zoom: 1;
}
/* line 251, ../sass/app.scss */
.nav a {
  display: block;
  width: 20%;
  height: 60px;
  line-height: 60px;
  float: left;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 259, ../sass/app.scss */
.nav .active {
  border-top: 3px solid #54c4ab;
}
/* line 260, ../sass/app.scss */
.nav img {
  margin-top: 25%;
  width: 50%;
  height: 50%;
}

/* line 263, ../sass/app.scss */
.view {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

/* line 268, ../sass/app.scss */
.panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 275, ../sass/app.scss */
.panel.padding {
  padding: 10px 15px;
}

/* line 280, ../sass/app.scss */
.left {
  -webkit-transform: translate3D(-100%, 0, 0);
  -moz-transform: translate3D(-100%, 0, 0);
  -ms-transform: translate3D(-100%, 0, 0);
  -o-transform: translate3D(-100%, 0, 0);
  transform: translate3D(-100%, 0, 0);
}

/* line 281, ../sass/app.scss */
.center {
  -webkit-transform: translate3D(0, 0, 0);
  -moz-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  -o-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
}

/* line 282, ../sass/app.scss */
.right {
  -webkit-transform: translate3D(100%, 0, 0);
  -moz-transform: translate3D(100%, 0, 0);
  -ms-transform: translate3D(100%, 0, 0);
  -o-transform: translate3D(100%, 0, 0);
  transform: translate3D(100%, 0, 0);
}

/* line 285, ../sass/app.scss */
.users {
  text-align: center;
}
/* line 287, ../sass/app.scss */
.users .original {
  width: 75%;
  border-radius: 3px;
  margin: 0 20px;
}
/* line 292, ../sass/app.scss */
.users .username {
  font-size: xx-large;
  font-weight: bold;
  padding: 0 20px;
  color: #54c4ab;
}
/* line 298, ../sass/app.scss */
.users .description {
  padding: 10px 0;
  text-align: justify;
}

/* line 305, ../sass/app.scss */
.chats .chat {
  display: block;
  width: 100%;
  background-color: #a6d8cd;
  border-bottom: 1px solid #469f8b;
  cursor: pointer;
}
/* line 311, ../sass/app.scss */
.chats .chat img {
  display: inline-block;
  vertical-align: top;
  padding: 10px 15px;
}
/* line 316, ../sass/app.scss */
.chats .chat p {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 0;
}

/* line 324, ../sass/app.scss */
.message {
  display: block;
  width: 90%;
  background-color: #54c4ab;
  padding: 1px 5px;
  color: white;
  margin: 5px 0;
}
/* line 331, ../sass/app.scss */
.message.me {
  margin-left: 10%;
  background-color: #7ad1be;
}

/* line 336, ../sass/app.scss */
#map {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* line 340, ../sass/app.scss */
.contextual {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
/* line 345, ../sass/app.scss */
.contextual a {
  display: block;
  border-top: 2px dashed #ddd;
}
/* line 348, ../sass/app.scss */
.contextual a:first-child {
  border-top: none;
}
