$color-green:#71B577!default;
$color-blue:#54C4AB!default;
$color-grey:#B7BFBF!default;
$color-mag:#C3E8D5!default;
$color-bg:#B9FFDA!default;
$columns: 12!default;
$gutter: 20px!default;
$medium: 640px!default;
$large: 1024px!default;
@import "compass";
*{
	@include box-sizing(border-box);
}
@mixin responsive-columns($suffix: ''){
    @for $i from 0 through $columns{
        @if $i != 0 {
            .col#{$suffix}-#{$i}{ width:$i / $columns * 100%; }
        }
        .col#{$suffix}-center{ margin: 0 auto; float: none; }
        .col#{$suffix}-push-#{$i}{ left:$i / $columns * 100%; }
        .col#{$suffix}-offset-#{$i}{ margin-left:$i / $columns * 100%; }
        .col#{$suffix}-pull-#{$i}{ left:$i / $columns * 100%; }

    }
}
%col{
    float: left;
    position: relative;
    min-height: 1px;
    padding:0 $gutter * 0.5;
}
.row{
    margin:0 $gutter * -0.5;
    @include clearfix;
}
@for $i from 1 through $columns{
    .col-s-#{$i}, .col-m-#{$i}, .col-l-#{$i}{ @extend %col; }
}
.m-show{ display: none; }
.l-show{ display: none; }
@include responsive-columns('-s');
@media only screen and (min-width: $medium) {
    @include responsive-columns('-m');
    .m-hide{ display: none; }
    .m-show{ display: block; }
}
@media only screen and (min-width: $large) {
    @include responsive-columns('-l');
    .l-hide{ display: none; }
    .l-show{ display: block; }
}
.load{
	position: absolute;
	z-index: 100;
	top: 60px;left: 0;right: 0;bottom: 0;
	background-color: rgba(255,255,255,0.5);
}
.loader{
  	width:50px;
  	height:50px;
  	display:inline-block;
  	vertical-align:middle;
  	position:relative;
}
@-webkit-keyframes spin {
  	from {
    	-webkit-transform: rotate(0deg); 
    }

  	to {
    	-webkit-transform: rotate(360deg); 
    } 
}
@-moz-keyframes spin {
  	from {
    	-moz-transform: rotate(0deg); 
    }

  	to {
    	-moz-transform: rotate(360deg); 
    } 
}
@keyframes spin {
  	from {
	    -webkit-transform: rotate(0deg);
	    -moz-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	    -o-transform: rotate(0deg);
	    transform: rotate(0deg); 
	}

  	to {
	    -webkit-transform: rotate(360deg);
	    -moz-transform: rotate(360deg);
	    -ms-transform: rotate(360deg);
	    -o-transform: rotate(360deg);
	    transform: rotate(360deg); 
	} 
}
@-webkit-keyframes spinreverse {
  	from {
    	-webkit-transform: rotate(0deg); 
    }

  	to {
    	-webkit-transform: rotate(-360deg); 
    } 
}
@-moz-keyframes spinreverse {
  	from {
    	-moz-transform: rotate(0deg); 
    }

  	to {
    	-moz-transform: rotate(-360deg); 
    } 
}
@keyframes spinreverse {
  	from {
	    -webkit-transform: rotate(0deg);
	    -moz-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	    -o-transform: rotate(0deg);
	    transform: rotate(0deg); 
	}

  	to {
	    -webkit-transform: rotate(-360deg);
	    -moz-transform: rotate(-360deg);
	    -ms-transform: rotate(-360deg);
	    -o-transform: rotate(-360deg);
	    transform: rotate(-360deg); 
	} 
}
.loader-double{
    border-radius: 50px;
    border: 6px solid transparent;
    border-top-color: #FFF;
    border-bottom-color: #FFF;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite; 
}
.loader-double:after{
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    border-radius: 50px;
    border: 6px solid transparent;
    border-top-color: #FFF;
    border-bottom-color: #FFF;
    opacity: 0.6;
    -webkit-animation: spinreverse 2s linear infinite;
    -moz-animation: spinreverse 2s linear infinite;
    animation: spinreverse 2s linear infinite; 
}
a{
	color:$color-green;
	text-decoration:none;
}h1,h2,h3,h4,h5,h6{
	color: $color-green;
	text-align: center;
}
.btn-grey{
	color: #fff;
	background-color: $color-grey;
	border-color: darken($color-grey,10%);
	&:hover{
		background-color: darken($color-grey,10%);
		border-color: darken($color-grey,20%);
	}
}.btn-default{
	background-color: $color-blue;
	border-color: darken($color-blue,10%);
	&:hover{
		background-color: darken($color-blue,10%);
		border-color: darken($color-blue,20%);
	}
}button, input[type="submit"], .btn{
	display: inline-block;
	width: auto;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px!important;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #fff;
}input,textarea{
	width: 100%;
	padding: 5px 10px!important;
	border-color: transparent;
	border-radius: 2px;
	font-size: medium;
	outline-color: lighten($color-blue,20%);
	outline-width: 3px;
}label{
	display: inline-block;
	margin: 5px 0;
	font-weight: 700;
}#login{
	position: absolute;
	top: 30%;left: 5%;right: 5%;
	width: 90%;
	margin: 0 auto;
}.author{
	display: block;
	position: absolute;
	bottom: 0;left: 0;right: 0;
	text-align: center;
}
img{
	max-width:100%;
	height: auto;
} 
body{
	font-family:'Ubuntu',sans-serif;
	background-color: $color-bg;
}
.header{
	position: absolute;
	top: 0; left: 0; right: 0;
	height: 60px; line-height: 60px;
	background-color: $color-blue;
	color: white;
	text-align: center;
	font-size: x-large;
	text-transform: uppercase;
}

.nav{
	position: absolute;
	bottom: 0; left: 0; right: 0;
	height: 60px; line-height: 60px;
	background-color: $color-grey;
	text-align: center;
	@include clearfix;
	a{
		display: block;
		width: 20%;
		height: 60px; line-height: 60px;
		float: left;
		@include transition-duration(.5s);
	}
	
	.active{border-top: 3px solid $color-blue;}
	img{margin-top:25%;width:50%;height:50%;}
}

.view{
	position: absolute;
	top: 60px; bottom: 60px; left: 0; right: 0;
}

.panel{
	position: absolute;
	top:0; left:0; right:0; bottom:0;
	overflow-x:hidden;
	overflow-y:scroll;
	-webkit-overflow-scrolling:touch;
	@include transition-duration(.5s);
	&.padding{
		padding: 10px 15px;
	}
}

.left{@include transform(translate3D(-100%,0,0));}
.center{@include transform(translate3D(0,0,0));}
.right{@include transform(translate3D(100%,0,0));}


.users{
	text-align: center;
	.original{
		width: 75%;
		border-radius: 3px;
		margin: 0 20px;
	}
	.username{
		font-size: xx-large;
		font-weight: bold;
		padding: 0 20px;
		color: $color-blue;
	}
	.description{
		padding: 10px 0;
		text-align: justify;
	}
}

.chats{
	.chat{
		display: block;
		width: 100%;
		background-color: desaturate(lighten($color-blue, 20%),10%);
		border-bottom: 1px solid desaturate(darken($color-blue, 10%),10%);
		cursor: pointer;
		img{
			display: inline-block;
			vertical-align: top;
			padding: 10px 15px;
		}
		p{
			display: inline-block;
			vertical-align: top;
			text-align: center;
			padding: 0;
		}
	}
}
.message{
	display: block;
	width: 90%;
	background-color: $color-blue;
	padding: 1px 5px;
	color: white;
	margin: 5px 0;
	&.me{
		margin-left: 10%;
		background-color: lighten($color-blue,10%);
	}
}
#map{
	height: 100%;
    margin: 0px;
    padding: 0px
}.contextual{
	display: block;
	width: 100%;
	height: 100%;
	background-color: #fff;
	a{
		display:block;
		border-top: 2px dashed #ddd;
	}a:first-child{
		border-top:none;
	} 
}