<?xml version='1.0' encoding='utf-8'?>
<widget id="com.louiswebdesign.waw" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>WAW</name>
    <description>
        Application mobile de WAW
    </description>
    <author email="contact@louis-webdesign.com" href="http://louis-webdesign.com">
        Louis-WebDesign
    </author>
    <content src="index.html" />
    <access origin="*" />
    <access origin="*.whereandwhere.*" />
    <feature name="SplashScreen">
        <param name="ios-package" value="CDVSplashScreen" />
    </feature><
    <icon src="res/icons/icon.png" />
    <icon gap:density="ldpi" gap:platform="android" src="res/icons/android/icon-36-ldpi.png" />
    <icon gap:density="mdpi" gap:platform="android" src="res/icons/android/icon-48-mdpi.png" />
    <icon gap:density="hdpi" gap:platform="android" src="res/icons/android/icon-72-hdpi.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="res/icons/android/icon-96-xhdpi.png" /> 
    <icon gap:density="xxhdpi" gap:platform="android" src="res/icons/android/icon-144-xxhdpi.png" /> 
</widget>
